body {
  /* background-color: #b3cde0; */
  background: url(https://hdqwalls.com/wallpapers/abstract-blue-lights-blur-eu.jpg) no-repeat fixed 50% 0;
  padding: 0;
  margin: 0;
  perspective: 1px;
  transform-style: preserve-3d;
  height: 100%;
  overflow-x: hidden;
  font-family: 'Roboto';
}
.bodyTwo {
  /* background-color: #3f7eac; */
  /* background: url(https://hdqwalls.com/download/blue-texture-pf-1920x1080.jpg) no-repeat fixed 50% 0; */
  background: url(https://hdqwalls.com/wallpapers/abstract-blue-lights-blur-eu.jpg) no-repeat fixed 50% 0;
}
.left-underline {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  overflow: hidden;
}
.left-underlineTwo {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  overflow: hidden;
}
.left-underline:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 100%;
  bottom: 0;
  background: #ECECEC;
  height: 4px;
  -webkit-transition-property: right;
  transition-property: right;
  -webkit-transition-duration: 0.15s;
  transition-duration: 0.15s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.left-underlineTwo:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 100%;
  bottom: 0;
  background: #ECECEC;
  height: 4px;
  -webkit-transition-property: right;
  transition-property: right;
  -webkit-transition-duration: 0.15s;
  transition-duration: 0.15s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.left-underline:hover:before, .left-underline:focus:before, .left-underline:active:before {
  right: 0;
}
.left-underlineTwo:hover:before, .left-underlineTwo:focus:before, .left-underlineTwo:active:before {
  right: 0;
}
div.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #6497b1;
  -webkit-box-shadow: 0px 2px 6px 0px rgba(50, 50, 50, 0.75);
  -moz-box-shadow:    0px 2px 6px 0px rgba(50, 50, 50, 0.75);
  box-shadow:         0px 2px 6px 0px rgba(50, 50, 50, 0.75);
  z-index: 9999999;
}
div.navbarTwo {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #6497b1;
  -webkit-box-shadow: 0px 2px 6px 0px rgba(50, 50, 50, 0.75);
  -moz-box-shadow:    0px 2px 6px 0px rgba(50, 50, 50, 0.75);
  box-shadow:         0px 2px 6px 0px rgba(50, 50, 50, 0.75);
  z-index: 9999999;
}
div.navbar > ul.navbar-container {
  list-style-type: none;
  margin: 0;
  padding-left: 1em;
  padding-right: 1em;
  overflow: hidden;
}
div.navbarTwo > ul.navbar-containerTwo {
  list-style-type: none;
  margin: 0;
  padding-left: 1em;
  padding-right: 1em;
  overflow: hidden;
}
div.navbar > ul > li.nav-item {
  float: right;
  background-color: rgba(0, 0, 0, 0.1);
  transition: all 0.5s ease;
}
div.navbarTwo > ul > li.nav-itemTwo {
  float: right;
  background-color: rgba(0, 0, 0, 0.1);
  transition: all 0.5s ease;
}
div.navbar > ul > li.active {
  background-color: rgba(0, 0, 0, 0.18);
}
div.navbarTwo > ul > li.active {
  background-color: rgba(0, 0, 0, 0.18);
}
div.navbar > ul > li:hover {
  background-color: rgba(0, 0, 0, 0.2);
}
div.navbarTwo > ul > li:hover {
  background-color: rgba(0, 0, 0, 0.2);
}
a.nav-button {
  font-family: 'Roboto';
  text-decoration: none;
  line-height: 60px;
  padding-left: 20px;
  padding-right: 20px;
  color: rgba(228, 241, 254, 1);
  transition: all 0.5s ease;
}
a.nav-buttonTwo {
  font-family: 'Roboto';
  text-decoration: none;
  line-height: 60px;
  padding-left: 20px;
  padding-right: 20px;
  color: rgba(228, 241, 254, 1);
  transition: all 0.5s ease;
}
a.nav-button:hover {
  text-decoration: none;
}
a.nav-buttonTwo:hover {
  text-decoration: none;
}
li.active > a.nav-button {
  cursor: default;
}
li.active > a.nav-buttonTwo {
  cursor: default;
}
.brand-logo {
  float: left;
  cursor: default;
}
.brand-logoTwo {
  float: left;
  cursor: default;
}
.parallax {
  height: 70vh;
  overflow: hidden;
  margin: 0;
  padding: 0;
}
.parallaxTwo {
  height: 70vh;
  overflow: hidden;
  margin: 0;
  padding: 0;
}
.parallax.p1 {
  background: url(http://diariodedesarrollo.com/wp-content/uploads/2017/02/39972658-interface-wallpapers.jpg) no-repeat fixed 50% 0;
  background-size: cover;
  color: #fff;
  font-size: 3em;
  letter-spacing: 3vw;
}
.parallaxTwo.pTwo1 {
  background: url(https://hdqwalls.com/wallpapers/scifi-future-city-top-view-vehicles-art-fj.jpg) no-repeat fixed 50% 0;
  background-size: cover;
  color: #fff;
  font-size: 3em;
  letter-spacing: 1vw;
}
.polarisSub {
  letter-spacing: 7px;
  font-size: 25px;
  padding-top: 15px;
  text-align: center;
}
.parallax.p2 {
  background: url(https://i.imgur.com/dWEkfHG.jpg) no-repeat fixed 50% 0;
  background-size: cover;
  color: #fff;
  height: 80vh;
}
.parallaxTwo.pTwo2 {
  /* background: url(https://hdqwalls.com/wallpapers/mirrors-edge-city-of-glass.jpg) no-repeat fixed 50% 0; */
  background: url(https://hdqwalls.com/wallpapers/scifi-future-city-top-view-vehicles-art-fj.jpg) no-repeat fixed 50% 0;

  background-size: cover;
  color: #fff;
}
.parallax.p3 {
  background: url(https://i.imgur.com/WL4Eq5j.jpg) no-repeat fixed 70% 0;
  background-size: cover;
  color: #fff;
}
.parallax-text {
  width: 24em;
  position: fixed;
  top: 20%;
  left: 50%;
  border: .5em solid #fff;
  margin-left: -10%;
  padding: 2em 0;
  text-align: center;
  z-index: 999;
}
.parallaxTwo-text {
  width: 24em;
  position: fixed;
  top: 20%;
  left: 50%;
  border: .5em solid #fff;
  margin-left: -10%;
  padding: 2em 0;
  text-align: center;
  z-index: 999;
}
.parallax > div.blur-image {
  position: relative;
  width: 100%;
  height: 100%;
}
.parallaxTwo > div.blur-image {
  position: relative;
  width: 100%;
  height: 100%;
}  
hgroup{
  display: inline-block;
  text-align: center;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  color: #fff;
  border: 1px;
  border-radius: 15px;
  padding: .5em 3em;
  /* background-color: rgba(0,0,0,.6); */
  background: rgb(2,31,66);
background: radial-gradient(circle, rgba(2,31,66,0.8477766106442577) 0%, rgba(14,42,91,0.8141631652661064) 35%, rgba(67,116,191,0.07466736694677867) 100%);

  z-index: 2;
}
hgroup2{
  display: inline-block;
  text-align: center;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  color: #fff;
  border: 1px;
  border-radius: 15px;
  padding: .5em 3em;
  /* background-color: rgba(16,78,139,.6); */
  background: rgb(1,12,24);
  background: radial-gradient(circle, rgba(1,12,24,0.8477766106442577) 0%, rgba(19,34,59,0.8141631652661064) 35%, rgba(48,82,134,0.07466736694677867) 100%);
  z-index: 2;
}
hgroup0{
  display: inline-block;
  text-align: center;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  color: #fff;
  border: 1px;
  border-radius: 15px;
  padding: .5em 3em;
  /* background-color: rgba(16,78,139,.6); */
  background: rgb(1,12,24);
background: radial-gradient(circle, rgba(1,12,24,0.8477766106442577) 0%, rgba(19,34,59,0.8141631652661064) 35%, rgba(29,49,80,0.3715861344537815) 100%);
  z-index: 2;
}
.row {
  width: 80%;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 15px;
  padding-bottom: 15px;
  min-height: 150px;
}
.rowTwo {
  /* width: 80%; */
  padding-left: 15%;
  padding-right: 15%;
  padding-top: 15px;
  padding-bottom: 15px;
  min-height: 150px;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
.rowTwo:after {
  content: "";
  display: table;
  clear: both;
}
.row > .col-3 {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  float: left;
  padding-left: 5px;
  padding-right: 5px;
}
.rowTwo > .col-3Two {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  float: left;
  padding-left: 5px;
  padding-right: 5px;
}
.madScience {
  text-align: left;
  font-size: 20px;
  padding-top: 5px;
  padding-bottom: 25px;
  letter-spacing: 5px;
}
footer {
  width: 100%;
  padding-top: 20px;
  display: block;
  background-color: #6497b1;
  overflow: hidden;
}
footer2 {
  width: 100%;
  padding-top: 20px;
  padding-left: 12%;
  padding-right: 15%;
  display: block;
  background-color: #6497b1;
  overflow: hidden;
  color: #fff;
}
.footer-copyright {
  font-weight: 300;
  overflow: hidden;
  height: 50px;
  line-height: 50px;
  color: rgba(255, 255, 255, 0.8);
  background-color: rgba(51, 51, 51, 0.08);
}
.footer2-copyright {
  font-weight: 300;
  overflow: hidden;
  height: 50px;
  line-height: 50px;
  color: rgba(255, 255, 255, 0.8);
  background-color: rgba(51, 51, 51, 0.08);
}
.container {
  width: 85%;
  padding: 0 1.5rem;
  margin: 0 auto;
  max-width: 1280px;
}
.containerTwo {
  width: 85%;
  padding: 0 1.5rem;
  margin: 0 auto;
  max-width: 1280px;
}
footer p {
  border-left: 3px solid #6497b1;
  padding-left: 15px;
  text-indent: 20px;
  color: #ececec;
}
footerTwo p {
  border-left: 3px solid #6497b1;
  padding-left: 15px;
  text-indent: 20px;
  color: #ececec;
}

